body {
	color: #fff;
	font-family: 'Nunito Semibold';
	text-align: center;
}
#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;

}
/* desktop grid */
@media screen and (min-width: 760px) {
#content{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
	max-width: 960px;
	margin: 0 auto;

}
}
#content > header,main {
	background: #3bbced;
	padding: 30px;
}
.nested {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 10px;
}
.nested p {
			border: 1px solid #fff;
			padding: 20px;
			margin: 0;
}
header{
    grid-column: 1 / 2;
}
main{
    grid-column: 2 / 4;

}
aside{
    grid-column: 1 / 4;
}
nav{
    grid-column: 1 / 4;
}
section{
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}
footer{
    grid-column: 1 / 13;
}
